$primary-color: #ED2525;
$secondary-color: #2253AD;
$tertiary-color: #FFE228;
$content-color: #3F3F3F;
$background-color: #FFFFFF;
$nav-bg: #000000;
%content-text {
  color: $content-color;
  font-family: Lato;
}
%normal-text {
  font-size: 1.2rem;
  font-weight: normal;
}
%emphasis-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
%heading-text {
  color: $primary-color;
  font-size: 1.3rem;
}
body {
  margin: 0;
}
.mainContent {
  padding: 0 0.5rem;
  .navBar {
    background-color: $nav-bg;
    .navList {
      flex: 1;
      display: flex;
      flex-direction: row;
      margin: 0;
      .logo {
        padding: 1rem;
      }
      .navTitle {
        @extend %emphasis-text;
        font-size: 1.5rem;
        color: $background-color;
        flex: 1;
        padding: 2rem 0rem;
        list-style: none;
      }
      .navItem {
        @extend %emphasis-text;
        font-size: 1.3rem;
        color: $background-color;
        flex: 1;
        padding: 2rem;
        list-style: none;
      }
    }
  }
  .searchBar {
    flex: 1;
    display: flex;
    .inputBar {
      width: 98%;
      border: 0.1px #000000 solid;
      font-size: 2rem;
      @extend %content-text;
    }
    .searchButton {
      background-color: $primary-color;
      border: 0.1px #000000 solid;
      border-left: 0px;
      padding: 0.8rem;
      .imageButton {
        height: 40px;
        width: 40px;
      }
    }
  }
  .contentRow {
    .animeBody {
      display: flex;
      flex-direction: row;
      border: #F4F1EB 1px solid;
      margin-bottom: 1rem;
      .animePoster {
        flex: 1;
        padding: 1rem;
      }
      .animeContent {
        flex: 3;
        padding: 1rem;
        .heading {
          margin: 0;
        }
        .animeData {
          padding: 1rem;
          .animeSynopsis {
            @extend %content-text;
            @extend %normal-text;
          }
        }
        .buttonContainer {
          display: flex;
          justify-content: space-evenly;
          .learnMore {
            margin-top: 1rem;
            text-align: center;
            padding: 0.5rem;
            background-color: $tertiary-color;
            @extend %normal-text;
            border-color: black;
          }
          .malButton {
            margin-top: 1rem;
            text-align: center;
            padding: 0.5rem;
            background-color: $secondary-color;
            color: white;
            @extend %normal-text;
            border-color: black;
          }
        }
      }
    }
  }
}
p {
  @extend %content-text;
  @extend %normal-text;
}
.heading {
  @extend %heading-text;
  @extend %emphasis-text;
  text-align: center;
}
.subHeading {
  @extend %normal-text;
  text-align: center;
  color: #000000;
}          
.dataTable {
  flex: 1;
  width: 100%;
  padding: 1rem;
  border-collapse: collapse;
  border-spacing: 0;
  tr:nth-child(odd) {
    background-color: $primary-color;
  }
  th {
    color: white;
    background-color: $secondary-color;
    border: 1px solid $content-color;
    padding: 1rem;
  }
  td {
    width: auto;
    border: 1px solid $content-color;
    padding: 1rem;
    text-align: center;
  }
}